.error-body-wrapper
  position: relative
  width: 100vw
  height: 100vh
  .error-body
    @media all and (max-width: $mobileWidth)
      width: 100%
      position: relative
    position: absolute
    +fitWidth
    +pCenter
    padding: 10px
    border-radius: 4px
    h1
      font-weight: normal
      padding-bottom: 10px
      margin-bottom: 10px
      border-bottom: 1px solid #d0d1d5
    img
      width: 100%
      height: auto
    p
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0