.page-footer
  .columned-container
    padding: 20px
    background: #4d4d4d
    +clearFloat
    section
      @media all and (max-width: $mobileWidth)
        float: none
      float: left
      padding: 10px
      ul
        li
          list-style: none
          a
            text-decoration: none
            color: #fff
            display: block
            padding: 3px
            border-radius: 4px
            transition: background 0.4s
            &:hover
              background: #fff
              color: #4d4d4d
  .copy-right
    padding: 10px
    color: gray
    font-weight: bold
  .connect-with-us
    background: #006699
    padding: 30px 0
    h1
      margin-bottom: 20px
      color: #fff
      text-align: center
    ul
      +fitWidth
      +clearFloat
      margin: 0 auto
      li
        list-style: none
        float: left
        margin-right: 10px
        &:last-child
          margin-right: 0
        a
          position: relative
          width: 50px
          height: 50px
          display: block
          cursor: pointer
          &:hover
            .decor
              opacity: 1
            img
              top: -20px
          .decor
            position: absolute
            bottom: 0
            left: 0
            right: 0
            padding: 3px
            border-radius: 4px
            background: #ff9900
            opacity: 0
            transition: opacity 0.4s
          img
            width: 50px
            height: auto
            position: absolute
            top: 0
            left: 0
            transition: top 0.4s