* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.topbar-wrapper .space-holder, .topbar-wrapper .topbar-outer-container {
  height: 80px; }
  @media all and (max-width: 480px) {
    .topbar-wrapper .space-holder, .topbar-wrapper .topbar-outer-container {
      height: auto; } }

.topbar-outer-container {
  z-index: 100;
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #d0d1d5;
  width: 100%;
  box-shadow: 0 0 5px #d0d1d5; }
  .topbar-outer-container .topbar-inner-container .logo {
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    left: 10px; }
    @media all and (max-width: 480px) {
      .topbar-outer-container .topbar-inner-container .logo {
        width: 100%;
        left: 0;
        top: 0;
        transform: none;
        padding: 20px 10px;
        position: relative; } }
    .topbar-outer-container .topbar-inner-container .logo .toggle-menu {
      display: none;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 30px; }
      @media all and (max-width: 480px) {
        .topbar-outer-container .topbar-inner-container .logo .toggle-menu {
          display: block; } }
    .topbar-outer-container .topbar-inner-container .logo label {
      position: relative;
      padding-left: 30px;
      font-size: 30px;
      color: #006699; }
      .topbar-outer-container .topbar-inner-container .logo label span {
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%); }
  .topbar-outer-container .topbar-inner-container .menu-toggled {
    display: none; }
  .topbar-outer-container .topbar-inner-container .menu-toggled:checked ~ .links {
    display: block; }
  .topbar-outer-container .topbar-inner-container .links {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%); }
    @media all and (max-width: 480px) {
      .topbar-outer-container .topbar-inner-container .links {
        border-top: 1px solid #d0d1d5;
        display: none;
        top: 0;
        left: 0;
        transform: none;
        background: #fff;
        position: relative; } }
    .topbar-outer-container .topbar-inner-container .links:after {
      clear: both;
      content: '';
      display: block; }
    .topbar-outer-container .topbar-inner-container .links li {
      float: left;
      list-style: none;
      margin-left: 5px; }
      @media all and (max-width: 480px) {
        .topbar-outer-container .topbar-inner-container .links li {
          float: none;
          margin: 0; } }
      .topbar-outer-container .topbar-inner-container .links li a {
        display: block;
        text-decoration: none;
        padding: 10px;
        color: #006699;
        transition: background 0.3s;
        border-radius: 4px; }
        @media all and (max-width: 480px) {
          .topbar-outer-container .topbar-inner-container .links li a {
            border-radius: 0; } }
        .topbar-outer-container .topbar-inner-container .links li a:hover {
          background: #006699;
          color: #fff; }

.page-footer .columned-container {
  padding: 20px;
  background: #4d4d4d; }
  .page-footer .columned-container:after {
    clear: both;
    content: '';
    display: block; }
  .page-footer .columned-container section {
    float: left;
    padding: 10px; }
    .page-footer .columned-container section ul li {
      list-style: none; }
      .page-footer .columned-container section ul li a {
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 3px;
        border-radius: 4px;
        transition: background 0.4s; }
        .page-footer .columned-container section ul li a:hover {
          background: #fff;
          color: #4d4d4d; }

.page-footer .copy-right {
  padding: 10px;
  color: gray;
  font-weight: bold; }

.page-footer .connect-with-us {
  background: #006699;
  padding: 30px 0; }
  .page-footer .connect-with-us h1 {
    margin-bottom: 20px;
    color: #fff;
    text-align: center; }
  .page-footer .connect-with-us ul {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: -ms-max-content;
    width: -o-max-content;
    width: max-content;
    margin: 0 auto; }
    .page-footer .connect-with-us ul:after {
      clear: both;
      content: '';
      display: block; }
    .page-footer .connect-with-us ul li {
      list-style: none;
      float: left;
      margin-right: 10px; }
      .page-footer .connect-with-us ul li:last-child {
        margin-right: 0; }
      .page-footer .connect-with-us ul li a {
        position: relative;
        width: 50px;
        height: 50px;
        display: block;
        cursor: pointer; }
        .page-footer .connect-with-us ul li a:hover .decor {
          opacity: 1; }
        .page-footer .connect-with-us ul li a:hover img {
          top: -20px; }
        .page-footer .connect-with-us ul li a .decor {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 3px;
          border-radius: 4px;
          background: #ff9900;
          opacity: 0;
          transition: opacity 0.4s; }
        .page-footer .connect-with-us ul li a img {
          width: 50px;
          height: auto;
          position: absolute;
          top: 0;
          left: 0;
          transition: top 0.4s; }

.home .welcome-banner {
  background: url("http://localhost:8000/busliner.jpg") no-repeat fixed;
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  position: relative; }
  .home .welcome-banner .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; }
    @media all and (max-width: 480px) {
      .home .welcome-banner .centered {
        width: 80%; } }
    .home .welcome-banner .centered img {
      width: 100px;
      height: auto;
      position: relative;
      border: 1px solid #595959;
      border-radius: 100%;
      left: 50%;
      transform: translate(-50%, 0); }
    .home .welcome-banner .centered .welcome-text {
      background: rgba(0, 0, 0, 0.5);
      padding: 10px;
      border-radius: 4px;
      text-align: center;
      border: 1px solid #bfbfbf; }
      .home .welcome-banner .centered .welcome-text h1 {
        font-weight: normal;
        font-size: 40px;
        color: #fff; }
      .home .welcome-banner .centered .welcome-text h3 {
        font-weight: normal;
        font-size: 20px;
        color: #d9d9d9; }

.home .image-columned-container {
  width: 100%; }
  .home .image-columned-container .wrapper {
    padding: 30px 0;
    width: 80%;
    margin: 0 auto; }
    .home .image-columned-container .wrapper:after {
      clear: both;
      content: '';
      display: block; }
    .home .image-columned-container .wrapper section {
      padding: 10px;
      float: left;
      width: 50%;
      min-height: 350px; }
      @media all and (max-width: 480px) {
        .home .image-columned-container .wrapper section {
          float: none;
          width: 100%;
          padding: 0;
          margin-bottom: 30px; }
          .home .image-columned-container .wrapper section:last-child {
            margin-bottom: 0; } }
      .home .image-columned-container .wrapper section p {
        color: #262626; }
      .home .image-columned-container .wrapper section header {
        margin-bottom: 10px; }
        .home .image-columned-container .wrapper section header h1 {
          text-align: center;
          color: #262626; }
        .home .image-columned-container .wrapper section header img {
          width: 100px;
          height: auto;
          display: block;
          margin: 0 auto; }

.home .image-centered-container {
  padding-top: 30px; }
  .home .image-centered-container section {
    width: 80%;
    margin: 0 auto 30px auto; }
    @media all and (max-width: 480px) {
      .home .image-centered-container section {
        float: none;
        width: 80%;
        margin-bottom: 30px; }
        .home .image-centered-container section:last-child {
          margin-bottom: 0; } }
    .home .image-centered-container section p {
      color: #262626; }
    .home .image-centered-container section header {
      margin-bottom: 10px; }
      .home .image-centered-container section header h1 {
        text-align: center;
        color: #262626; }
      .home .image-centered-container section header img {
        width: 100px;
        height: auto;
        display: block;
        margin: 0 auto; }

.home .location {
  background: #f2f2f2; }
  .home .location .map-holder {
    border-top: 1px solid #d0d1d5; }
